 <!-- Section -->
        <div class="section-header pb-6 overflow-hidden text-center " id="event">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-12 col-md-8">
                      <div class="alert shadow-inset ">
                              
                                  <h3 >Take a look at our past Event</h3>
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <!-- End of section -->
        <!-- Section -->
        
        
            <div class="container">
                <div class="d-flex justify-content-between pb-1">
                    <div class="text-center">
                        <!-- Visit Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-shape-sm shadow-soft border border-light rounded-circle mb-2">
                                <span class="far fa-lightbulb"></span>
                            </div>
                            <h3 class="h6">Projects</h3>
                            <span class="counter display-4 text-gray d-block">15+</span>
                        </div>
                        <!-- End of Visit Box -->
                    </div>
                    <div class="text-center">
                        <!-- Visit Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-shape-sm shadow-soft border border-light rounded-circle mb-2">
                                <span class="fas fa-school"></span>
                            </div>
                            <h3 class="h6">Colleges</h3>
                            <span class="counter display-4 text-gray d-block">10+</span>
                        </div>
                        <!-- End of Visit Box -->
                    </div>
                    <div class="text-center">
                        <!-- Call Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-shape-sm shadow-soft border border-light rounded-circle mb-2">
                                <span class="fas fa-book-reader"></span>
                            </div>
                            <h3 class="h6">Students</h3>
                            <span class="counter display-4 text-gray d-block">100+</span>
                        </div>
                        <!-- End of Call Box -->
                    </div>
                    <div class="text-center">
                        <!-- Email Box -->
                        <div class="icon-box mb-1">
                            <div class="icon icon-shape-sm shadow-soft border border-light rounded-circle mb-2">
                                <span class="fas fa-chalkboard-teacher"></span>
                            </div>
                            <h3 class="h6">Winners</h3>
                            <span class="counter display-4 text-gray d-block">3</span>
                        </div>
                        <!-- End of Email Box -->
                    </div>
                </div>
            </div>
        <!--ABOUT END-->