<footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 mb-5 mb-lg-0">
                <img src="./img/logo.png" height="40px" alt="logo">
                <h6>HackWithAgora</h6>
                
            </div>


            <div class="col-12 col-lg-6 mb-5 mb-lg-0" style="border-left: 1px solid #D3D3D3; 
            height: 250px; ">
                <h5>Contact Us</h5>
                <br><p>Feel free to contact us we will love to hear from you. For any queries mail to <a href = "mailto: sz2386@cse.jgec.ac.in">sz2386@cse.jgec.ac.in</a>.
                </p><br>
                
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col">
                <a href="#" target="_blank" class="d-flex justify-content-center">
                    <img src="./img/logo.png" height="50" class="mb-3" alt="jwoc Logo">
                </a>
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">Copyright © HackWithAgora
                    <span class="current-year">2021</span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
 </footer>