<header class="head" >
        <a href="index.html" class="logo"><span class="logo-hover"><span class="jgec"><img src="./img/logo.png" height="40px" alt="logo"></a>
        <ul>
            <li><a href="#about">Home</a></li>
            <li><a href="#event">Event</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        
    </header>