 <!--TEAM-->
        <div class="section-header pb-6 overflow-hidden text-center " id="team">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8">
                        <div class="alert shadow-inset ">
                                
                                    <h1>Our <strong>Team</strong></h1>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="section section-lg pt-0">
    
            <div class="container">
                <div class="row justify-content-between">
        
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-5">
                        <!-- Profile Card -->
                        <div class="profile-card mb-5">
                            <div class="card bg-primary shadow-soft border-light">
                                <div class="profile-image bg-primary border border-light rounded-circle p-3 ml-6 mt-n5">
                                    <img src="https://avatars.githubusercontent.com/u/56580229?v=4" class="card-img-top rounded-circle" alt="Team-lead">
                                </div>
                                <div style="text-align: center;" class="card-body">
                                    <h3 class="h5 mb-2"><b>Syed Ziauddin</b></h3>
                                    <span class="h6 font-weight-normal text-gray mb-3">ASA(Agora.io),Lead Organiser</span>
                                    <div class="btn-wrapper my-4">
                                        <button class="btn btn-primary btn-pill btn-icon-only text-facebook mr-2" type="button" aria-label="facebook" title="facebook">
                                            <a href="https://www.facebook.com/syed.ziauddin.549221"><span aria-hidden="true" class="fab fa-facebook-f"></span></a>
                                        </button>
                                        <button class="btn btn-primary btn-pill btn-icon-only text-github mr-2" type="button" aria-label="github" title="github">
                                            <a href="https://github.com/ziacodes"><span aria-hidden="true" class="fab fa-github"></span></a>
                                        </button>
                                        <button class="btn btn-primary btn-pill btn-icon-only text-facebook mr-2" type="button" aria-label="linkedin" title="linkedin">
                                            <a href="https://www.linkedin.com/in/syed-ziauddin-183678164/r"><span aria-hidden="true" class="fab fa-linkedin"></span></a>
                                        </button>
                                        
                                    </div>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Profile Card -->
                    </div>
        
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-5">
                        <!-- Profile Card -->
                        <div style="text-align: center;" class="profile-card mb-5">
                            <div class="card bg-primary shadow-soft border-light">
                                <div class="profile-image bg-primary  border border-light rounded-circle p-3 ml-6 mt-n5">
                                    <img src="https://pbs.twimg.com/profile_images/1198839169176309761/TuBjcHH5_400x400.jpg" class="card-img-top rounded-circle" alt="Speaker">
                                </div>
                                <div class="card-body">
                                    <h3 class="h5 mb-2"><b>Fayeque Hannan</b></h3>
                                    <span class="h6 font-weight-normal text-gray mb-3">Co-Organizer, Oracle Finance</span>
                                    <div class="btn-wrapper my-4">
                                        <button class="btn btn-primary btn-pill btn-icon-only text-facebook mr-2" type="button" aria-label="facebook" title="facebook">
                                            <a href="https://www.facebook.com/profile.php?id=100008685692009"><span aria-hidden="true" class="fab fa-facebook-f"></span></a>
                                        </button>
                                        <button class="btn btn-primary btn-pill btn-icon-only text-github mr-2" type="button" aria-label="github" title="github">
                                            <a href="https://github.com/fayeque"><span aria-hidden="true" class="fab fa-github"></span></a>
                                        </button>
                                        <button class="btn btn-primary btn-pill btn-icon-only text-facebook mr-2" type="button" aria-label="linkedin" title="linkedin">
                                            <a href="https://in.linkedin.com/in/fayeque-hannan-66b970147"><span aria-hidden="true" class="fab fa-linkedin"></span></a>
                                        </button>
                                    </div>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Profile Card -->
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-5">
                        <!-- Profile Card -->
                        <div style="text-align: center;" class="profile-card mb-5">
                            <div class="card bg-primary shadow-soft border-light">
                                <div class="profile-image bg-primary  border border-light rounded-circle p-3 ml-6 mt-n5">
                                    <img src="./img/bikash.jpg" class="card-img-top rounded-circle" alt="Christopher Avatar">
                                </div>
                                <div class="card-body">
                                    <h3 class="h5 mb-2"><b>Bikash Gupta</b></h3>
                                    <span class="h6 font-weight-normal text-gray mb-3">Programme Manager, IIT-Madras</span>
                                    <div class="btn-wrapper my-4">
                                        <button class="btn btn-primary btn-pill btn-icon-only text-facebook mr-2" type="button" aria-label="facebook" title="facebook">
                                            <a href="https://www.facebook.com/profile.php?id=100009025194510"><span aria-hidden="true" class="fab fa-facebook-f"></span></a>
                                        </button>
                                        
                                        <button class="btn btn-primary btn-pill btn-icon-only text-github mr-2" type="button" aria-label="github" title="github">
                                            <a href="#"><span aria-hidden="true" class="fab fa-github"></span></a>
                                        </button>
                                        <button class="btn btn-primary btn-pill btn-icon-only text-facebook mr-2" type="button" aria-label="linkedin" title="linkedin">
                                            <a href="https://in.linkedin.com/in/bikash-gupta-07bb5217b"><span aria-hidden="true" class="fab fa-linkedin"></span></a>
                                        </button>
                                        
                                    </div>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Profile Card -->
                    </div>           
                </div>
            </div>
        </section>
        <!--TEAM END--> 