<!--header -->
{{>header}}

<!--navigation -->
<style>
    .success{
        color: rgb(43, 43, 43);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .message{
        padding: 100px;
    }
    
</style>
<body>
    <header class="head" >
        <a href="/" class="logo"><span class="logo-hover"><span class="jgec"><img src="./img/logo.png" height="40px" alt="logo"></a>
        <ul>
        </ul>
        
    </header>

<section class="success">
    <div class="btns-container">
        <div class="justify-content-center">
            <a  style="color: #1A99D5;" href="#">
            <span class="fas fa-check-circle mr-2"></span>We have recieved your project. Give us some times to review and we will get back to you.</a> 
        </div>
    </div>

    <div class="message">
        <div class="justify-content-center">
        <a  style="color: #1A99D5;" class="btn btn-primary p-2" href="/">
        <span class="fas fa-home mr-2"></span>Back to home</a>
                            
         </div>
    </div>

</section>

{{>footer}}
</body>
</html>
